/*I added these below and using the <hr> one above. Should refactor them. miguel*/
body {
    margin: 10px;
}

hr {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    margin: 18px 0;
}





div #card-content {
    border-style: solid;
    background-color: khaki;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding-left: 10px;
    font-size: 20px;
}

div .card-title{
    padding-left: 10px;
    color: white;
}

div #comment{
    border-style: solid;


    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding-left: 10px;

}



.individual-blog {
    background-color: antiquewhite;
    border-color: blue;
    border-style: solid;


}

.individual-blog:hover {
    background-color: lightcyan;

}


.jumbotron-blog{
    background: url("../userarea/img/blog.jpg") no-repeat bottom;
    background-size: cover;
    min-height: 350px;

}
#jumbotron-user-blogs{

    background: url("../userarea/img/blog.jpg") no-repeat center;
    background-size: cover;
    min-height: 350px;

}





.title h1{
    color: white;
   font-weight:bold;
    font-family: 'Anton', sans-serif;
}

.title h4{
    color: black;
    font-weight:bold;

}
