

.create-circle{
    border-style: solid;

}






#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspect ratio */
  min-width: 100%;
  min-height: 100%;
}

.jumbotron-circle{
    background: url("../userarea/img/buildings.jpg") no-repeat bottom;
    background-size: cover;
    min-height: 350px;

}

.jumbotron-circle h1{
    font-weight: bold;
    color: white;
}



.polaroid-circle{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 10px;
}

.polaroid-circle-messages{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 10px;
}

.polaroid-circle:hover{
    background-color: lightcyan;
}

.circle-message{


}

#circle-modal{
    background: url("../userarea/img/circle-pencils.jpg") no-repeat center;
    background-size: cover;
}