

.create-circle{
    border-style: solid;

}



.member-name a{
    color: #FF6707;
}


/*html { */
  /*background: url("../userarea/img/buildings.jpg") no-repeat center center fixed;*/
  /*-webkit-background-size: cover;*/
  /*-moz-background-size: cover;*/
  /*-o-background-size: cover;*/
  /*background-size: cover;*/
/*}*/

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspect ratio */
  min-width: 100%;
  min-height: 100%;
}

.circle-jumbotron{
    background: url("../userarea/img/buildings.jpg") no-repeat center;
    background-size: cover;
    min-height: 350px;

}


.individual-circle {
    background-color: antiquewhite;
    border-color: blue;
    border-style: solid;

}

.individual-circle:hover {
    background-color: lightcyan;

}
