/*body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

header {
    padding: 20px 0;
}

header .row,
footer .row {
    display: flex;
    align-items: center;
}

header h1 {
    font-weight: 700;
    margin: 0;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header p {
    padding: 0 20px;
    margin: 0;
}*/

.login-jumbotron {

    display: flex;
    align-items: center;
    background: url("../userarea/img/pineapple.jpg") no-repeat center;
    background-size: cover;
    color: #eeeaec;
    height: 300px;
    text-shadow: 1px 1px 1px #000000;

}

