body {
    margin: 10px;
}

hr {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    margin: 18px 0;
}

.jumbotron {
    display: flex;
    align-items: center;
    color: #eeeaec;
    height: 250px;
    text-shadow: 1px 1px 1px #000000;
}



.message_label {
    margin: 3px;
    font-weight: bold;
    font-size: 14px;
}

.message_date {
    margin: 3px;
    font-size: 12px;
}



.error_message {
    font-style: oblique;
    color: darkred;
    text-align: center;
}

.polaroid {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 10px;
}

.search_form {
     width: 200px;
     box-sizing: border-box;
     border: 2px solid #ccc;
     border-radius: 4px;
     font-size: 18px;
     background-color: white;
     /*background-position: 10px 10px;*/
     background-repeat: no-repeat;
     /*padding: 5px 20px 5px 20px;*/
     /*margin: 5px 0px 5px 0px;*/
     -webkit-transition: width 0.4s ease-in-out;
     transition: width 0.4s ease-in-out;
 }



.search_form:focus {
    width: 100%;
}


tr.noBorder{
    border: hidden;
}

td.noBorder{
    border: hidden;
}

.navbar-color{
    background-color: lightcyan;
}

.so-shall-logo{
    font-family: 'Lobster', cursive;
    color: red;
    font-size: 30px;
    margin-left: 5px;
}
.register-jumbo {
    display: flex;
    align-items: center;
    background: url("../userarea/img/blue.jpg") center;
    background-size: cover;
    color: #eeeaec;
    height: 250px;
    text-shadow: 1px 1px 1px #000000;
}

.form-group.required .control-label:after{
    content:" *";
    color:red;

}
