body {
    margin: 10px;
}

hr {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    margin: 18px 0;
}

#gradient-back{
    background: lightcyan; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(lightcyan, deepskyblue,cadetblue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(lightcyan, deepskyblue,cadetblue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(lightcyan, deepskyblue,cadetblue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(lightcyan, deepskyblue, cadetblue); /* Standard syntax */
}



.message_label {
    margin: 3px;
    font-weight: bold;
    font-size: 14px;
}

.message_date {
    margin: 3px;
    font-size: 12px;
}



.error_message {
    font-style: oblique;
    color: darkred;
    text-align: center;
}



.search_form {

     box-sizing: border-box;
     border: 2px solid #ccc;
     border-radius: 4px;
     font-size: 18px;
    width:200px;
     background-color: white;
     /*background-position: 10px 10px;*/
     background-repeat: no-repeat;
     /*padding: 5px 20px 5px 20px;*/
     /*margin: 5px 0px 5px 0px;*/
     -webkit-transition: width 0.4s ease-in-out;
     transition: width 0.4s ease-in-out;

 }



.search_form:focus {
    width: 100%;
}


tr.noBorder{
    border: hidden;
}

td.noBorder{
    border: hidden;
}


.navbar-links{
    font-size: 18px;
    color: white;
    font-family: "Courier New";
    background-color: #7EC0EE;

    font-weigth: bold;
}

#disabled-anchor{
    pointer-events: none;
    cursor: default;
}
.so-shall-logo{
    font-family: 'Lobster', cursive;
    color: red;
    font-size: 30px;
    margin-left: 5px;
}
.register-jumbo {
    display: flex;
    align-items: center;
    background: url("../userarea/img/blue.jpg") center;
    background-size: cover;
    color: #eeeaec;
    height: 250px;
    text-shadow: 1px 1px 1px #000000;
}

.form-group.required .control-label:after{
    content:" *";
    color:red;

}

